In [1]:
import numpy as np 
import pandas as pd

In [2]:
credits = pd.read_csv(r"C:\Users\91700\Desktop\ML Project\Movei recomended system\tmdb_5000_credits.csv\tmdb_5000_credits.csv")
moveis = pd.read_csv(r"C:\Users\91700\Desktop\ML Project\Movei recomended system\tmdb_5000_movies.csv\tmdb_5000_movies.csv")

In [3]:
moveis.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
moveis =  moveis.merge(credits,on = 'title')

In [6]:
moveis.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
# genres ,id ,keywords , title ,overview , cast, crew

moveis =  moveis[['genres','id','keywords','title','overview','cast','crew']]

In [8]:
moveis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4809 non-null   object
 1   id        4809 non-null   int64
 2   keywords  4809 non-null   object
 3   title     4809 non-null   object
 4   overview  4806 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [9]:
moveis.isna().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [10]:
moveis.dropna(inplace=True)

In [11]:
moveis.duplicated().sum()

0

In [12]:
moveis.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
import ast
def convert (obj):
    L = []
    for i in ast.literal_eval(obj) :
        L.append(i['name'])
    return L

In [15]:
moveis['genres'] = moveis['genres'].apply(convert)

In [19]:
moveis['keywords'] = moveis['keywords'].apply(convert)

In [29]:
import ast
def convert3 (obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj) :
        if counter != 3:
            L.append(i['name'])
            counter += 1
             
        else:
            break
    return L

In [31]:
moveis['cast'] = moveis['cast'].apply(convert3)

In [36]:
import ast
def fetchd (obj):
    L = []
    for i in ast.literal_eval(obj) :
        if i['job'] == 'Director':
            L.append(i['name'])
        
    return L

In [39]:
moveis['crew'] = moveis['crew'].apply(fetchd)

In [41]:
moveis.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [43]:
moveis.overview = moveis.overview.apply(lambda x : x.split())

In [45]:
moveis.head()

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [49]:
moveis.genres = moveis.genres.apply(lambda x : [i.replace(' ','') for i in x])
moveis.keywords = moveis.keywords.apply(lambda x : [i.replace(' ','') for i in x])
moveis.cast = moveis.cast.apply(lambda x : [i.replace(' ','') for i in x])
moveis.crew = moveis.crew.apply(lambda x : [i.replace(' ','') for i in x])

In [53]:
moveis['tags'] = moveis['overview'] + moveis['genres'] + moveis['keywords'] + moveis['crew'] + moveis['cast']

In [54]:
moveis.head()

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [55]:
new_mov = moveis[['id','title','tags']]

In [57]:
new_mov['tags'] = new_mov['tags'].apply(lambda x : ' '.join(x))

C:\Users\91700\AppData\Local\Temp\ipykernel_10840\4200923600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mov['tags'] = new_mov['tags'].apply(lambda x : ' '.join(x))

In [60]:
new_mov.tags = new_mov.tags.apply(lambda x : x.lower())

C:\Users\91700\AppData\Local\Temp\ipykernel_10840\2968683889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mov.tags = new_mov.tags.apply(lambda x : x.lower())

In [81]:
from sklearn.feature_extraction.text import CountVectorizer

In [82]:
cv = CountVectorizer(max_features = 5000,stop_words = 'english')

In [92]:
vectors = cv.fit_transform(new_mov['tags']).toarray()

In [84]:
import nltk

In [85]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [86]:
def stem (text):
    y =  [ ]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [87]:
new_mov['tags'] = new_mov['tags'].apply(stem)

C:\Users\91700\AppData\Local\Temp\ipykernel_10840\2927554843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mov['tags'] = new_mov['tags'].apply(stem)

In [90]:
from sklearn.metrics.pairwise import cosine_similarity

In [96]:
sim = cosine_similarity(vectors)

In [121]:
def rec (movie):
    movie_index = new_mov[new_mov['title'] == movie].index[0]
    distance = sim[movie_index]
    movies_list = sorted(list(enumerate(distance)),reverse=True,key= lambda x :x [1])[1:6]
    
    
    
    for i in movies_list:
        print(new_mov.iloc[i[0]].title)

In [123]:
rec('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [124]:
import pickle

In [127]:
pickle.dump(new_mov,open('movie_list.pkl','wb'))
pickle.dump(sim,open('similarity.pkl','wb'))

In [129]:
pickle.dump(new_mov.to_dict(),open('movie_dict.pkl','wb'))